.tooltip-container {
  position: relative;
  display: inline-block;
}

.tooltip-wrapper {
  display: inline-block;
  width: fit-content;
  height: fit-content;
}

.tooltip-wrapper.tooltip-full-width {
  width: 100%;
}

.tooltip-wrapper.tooltip-full-height {
  height: 100%;
}

.tooltip-top::after {
  border-top-color: #333;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
}

.tooltip-bottom::after {
  border-bottom-color: #333;
  top: -8px;
  left: 50%;
  transform: translateX(-50%);
}

.tooltip-left::after {
  border-left-color: #333;
  right: -8px;
  top: 50%;
  transform: translateY(-50%);
}

.tooltip-right::after {
  border-right-color: #333;
  left: -8px;
  top: 50%;
  transform: translateY(-50%);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
} 